.program-selection {
  @media (min-width: @decktop-width) {
    margin-top: 73px;
  }
}

.program-selection__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    margin-top: 34px;
    padding: 0 69px;
  }

  @media (min-width: @decktop-width) {
    padding-left: 110px;
    margin-bottom: 57px;
  }
}

.program-selection__text {
  text-transform: uppercase;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    padding: 0 70px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 70px;
  }

  @media (min-width: @decktop-width) {
    padding-left: 110px;
    margin-bottom: 67px;
  }
}

.form ::placeholder {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @text_gray;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form input,
.form textarea {
  padding: 11px 15px 8px 15px;
  height: 45px;
  border: 1px solid @section-border;

  &:hover,
  &:focus {
    border-color: @border_gray;
  }

  &:active {
    border: 2px solid @text_gray;
  }

  @media (min-width: @tablet-width) {
    height: 52px;
    padding: 11px 18px;
  }
}

.form input[type="email"]:invalid,
.form input[type="text"]:invalid,
.form input[type="tel"]:invalid {
  border: 2px solid @error_red;
}

.form__label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: @text_gray;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__section {
  position: relative;
  border: none;
  margin: 0 20px 25px 20px;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin: 0 65px 75px 69px;
  }

  @media (min-width: @decktop-width) {
    margin: 0 110px 78px 110px;
  }
}

@media (min-width: @decktop-width) {
  .cat__data {
    display: flex;
    justify-content: space-between;
    margin: 0 111px 62px 111px;
  }
}

.form__name {
  padding-bottom: 27px;

  @media (min-width: @tablet-width) {
    padding-bottom: 72px;
    border: none;
  }

  @media (min-width: @decktop-width) {
    min-width: 570px;
    margin-right: 80px;
    flex-grow: 1;
    padding-bottom: 0;
  }

  & .form__label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: -4px;
  }

  & .form__input {
    width: 172px;
    margin-left: 13px;
    flex-grow: 1;

    @media (min-width: @tablet-width) {
      margin-bottom: 5px;
      margin-left: 18px;
      font-size: 20px;
    }

    @media (min-width: @decktop-width) {
      margin-bottom: 7px;
    }
  }
}

.form__programm {
  padding-top: 22px;
  padding-bottom: 5px;
  font-size: 16px;
  color: @catalog-black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    border: 1px solid @section-border;
    padding-bottom: 12px;
  }

  @media (min-width: @decktop-width) {
    flex-grow: 1;
  }
}

.form__programm__radio {
  padding-top: 6px;
  position: relative;
  padding-left: 45px;
  display: block;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    padding-left: 88px;
    margin-bottom: 16px;
  }
}

.form__programm__radio-button + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  outline: 1px solid @border_gray;
  outline-offset: -1px;
  left: 0;
  top: 0;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
    left: 27px;
  }
}

.form__programm__radio-button:focus + label::before,
.form__programm__radio-button:hover + label::before,
.form__extra__checkbox:focus + label::before,
.form__extra__checkbox:hover + label::before {
  outline: 1px solid @radio-hover;
}

.form__programm__radio-button:disabled + label,
.form__extra__checkbox:disabled + label {
  opacity: 0.3;
}

.form__programm__radio-button:checked + label::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: @basic_green;
  top: 8px;
  left: 9px;

  @media (min-width: @tablet-width) {
    width: 18px;
    height: 18px;
    left: 38px;
    top: 11px;
  }
}

.form__owner-data {
  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }
}

.form__section__title {
  font-size: 24px;
  line-height: 26px;
  padding: 0 23px 35px 0;
  background-color: @basic_white;

  @media (min-width: @tablet-width) {
    margin-left: -40px;
    margin-bottom: 80px;
    padding: 0 40px 0 40px;
    font-size: 36px;
    line-height: 36px;
    color: @basic_black;

    & .mobile-br {
      display: none;
    }
  }
}


.form__owner-data::before,
.form__comment::before,
.form__extra::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: @basic_green;
  top: -71px;
  right: -20px;
  z-index: -1;

  @media (min-width: @tablet-width) {
    top: -93px;
    width: 123%;
    right: -65px;
  }

  @media (min-width: @decktop-width) {
    right: -110px;
  }
}

.owner-data {
  position: relative;

  @media (min-width: @decktop-width) {
    display: flex;
    justify-content: space-between;

    & .form__label {
      width: 50%;
    }

    & .form__label:first-child {
      margin-right: 70px;
    }
  }

  & .form__label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & .form__input {
      margin-left: 10px;
      flex-grow: 1;

      @media (min-width: @tablet-width) {
        margin-left: 20px;
        margin-bottom: 5px;
        font-size: 20px;
      }
    }
  }

  & .tel {
    margin-top: -4px;
    margin-left: -2px;

    @media (min-width: @decktop-width) {
      margin: 0;
    }
  }
}

.form__label__icon {
  position: absolute;
  top: 15px;
  right: 15px;

  @media (min-width: @tablet-width) {
    top: 15px;
  }
}

.form__input:focus + .form__label__icon path {
  stroke: @basic_green;
}

.form__input:invalid + .form__label__icon path {
  stroke: @error_red;
}

.form__comment {
  &::before {
    top: -46px;

    @media (min-width: @tablet-width) {
      top: -94px;
    }
  }

  & .form__comment__text {
    height: 150px;
    width: 100%;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding: 12px 13px;

    @media (min-width: @tablet-width) {
      height: 174px;
      padding: 6px 18px;
      font-size: 20px;
    }
  }
}

.form__extra {
  margin-top: -3px;
  margin-bottom: 26px;

  &::before {
    top: -45px;
  }

  & .wrapper {
    margin-bottom: 34px;
  }

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-top: -17px;
    margin-bottom: 51px;

    &::before {
      top: -71px;
    }

    & .form__section__title {
      margin-bottom: 57px;
    }
  }

  @media (min-width: @decktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 6px;
    margin-bottom: 61px;
  }
}

.form__extra__check {
  position: relative;
  padding: 7px;
  padding-left: 46px;
  display: block;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 33px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 59px;
    margin-bottom: 27px;

    &:last-of-type {
      margin-bottom: 50px;
    }
  }
}

.form__extra__checkbox + label::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  outline: 1px solid @border_gray;
  outline-offset: -1px;
  left: 0;
  top: 0;

  @media (min-width: @tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__extra__checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 14px;
  background-image: url("../../img/ok.svg");
  background-repeat: no-repeat;
  background-position: 50%, 50%;
  left: 6px;
  top: 10px;

  @media (min-width: @tablet-width) {
    left: 12px;
    top: 14px;
  }
}

.form .form__button-submit {
  font-size: 16px;
  line-height: 20px;
  height: 40px;
  margin-bottom: 20px;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @decktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form__text {
  font-family: "Arial", sans-serif;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    padding-top: 18px;
  }
}
