.program-selection__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 27px;
  margin-bottom: 37px;
}

.program-selection__text {
  text-transform: uppercase;
}

.form__section {
  border: none;
  border-bottom: 1px solid @bottom_line_gray;
}

.form__section__title {
  font-size: 24px;
  line-height: 26px;
}

.form__owner-data,
.form__comment,
.form__extra {
  border: none;
}
