.button {
  font-family: "Oswald";
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: none;
  background-color: @basic_green;
  color: @basic_white;
  text-transform: uppercase;
}
