.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: none;
  background-color: @basic_green;
  color: @basic_white;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
