@basic_green: #68b738;
@basic_gray: #f2f2f2;
@gray: #eaeaea;
@button-hover-gray: #ebebeb;
@bottom_line_gray: #e5e5e5;
@text_gray: #444444;
@text_gray_opacity: rgba(68, 86, 68, 0.3);
@footer_black: #111111;
@border_gray: #cdcdcd;
@basic_white: #ffffff;
@basic_black: #000000;
@error_red: #ff8282;
@slider-range-gray: #dcdcdc;
@catalog-black: #222222;
@section-gray: #d9d9d9;
@section-border: #e7e7e7;
@button-hover: #5eaa2f;
@opacity-white: rgba(255, 255, 255, 0.3);
@toggle-border: rgba(0, 0, 0, 0.4);
@radio-hover: #bababa;
