.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @decktop-width) {
    position: absolute;
    top: 69px;
    right: 110px;
  }
}

.site-list__item {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: @basic_black;
  text-align: center;
  padding: 22px;

  @media (min-width: @tablet-width) {
    padding: 10px;
    border: none;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &--active {
      border-bottom: 2px solid @basic_green;
    }
  }

  @media (min-width: @decktop-width) {
    /*& a {
      color: @basic_white;
    }*/
    &--active {
      border-bottom: 2px solid @basic_white;
    }
  }
}
