.page-header {
  min-width: 320px;
  min-height: 70px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    padding: 24px 30px;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: @decktop-width) {
    padding: 54px 110px 0 110px;
  }
}

@media (min-width: @decktop-width) {
  z-index: 5;
}


.page-header__logo {
  width: 101px;
  height: 18px;
  align-self: center;
  margin-bottom: 24px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    width: 202px;
    height: 59px;
  }
}

@media (max-width: @mobile-only-width) {
  .index__logo {
    margin-left: 15px;
  }
}

.logo {
  @media (min-width: @tablet-width) {
    margin-left: 95px;
  }

  @media (min-width: @tablet-width) {
    margin-left: 95px;
  }
}

@media (max-width: @mobile-only-width) {
  .page-header__logo::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: @bottom_line_gray;
  }

  .page-header__logo::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 38px;
    top: 12px;
    left: 20px;
    background-image: url("./../img/logo-mobile.svg");
  }
}
