.description {
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @bottom_line_gray;
  }

  @media (min-width: @decktop-width) {
    border: none;
    margin-bottom: 205px;
  }
}

.description__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 33px;
  }
}

.description__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 17px;
    margin-bottom: 27px;
    margin-right: 79px;
    column-gap: 137px;
  }

  @media (min-width: @decktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-right: 0;
    column-gap: 80px;
  }
}

.description__item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: @tablet-width) {
    min-height: 280px;
    flex-direction: column;
    background-image: url("./../img/1.svg");
    background-repeat: no-repeat;
    background-position: 125px 38px;

    &:nth-child(2) {
      background-image: url("./../img/2.svg");
    }

    &:nth-child(3) {
      background-image: url("./../img/3.svg");
    }

    &:nth-child(4) {
      background-image: url("./../img/4.svg");
    }
  }
}

.description__item__icon {
  margin-right: 20px;
  height: 60px;
  width: 60px;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    margin-top: 38px;
    margin-bottom: 31px;
  }

  @media (min-width: @decktop-width) {
    margin-bottom: 33px;
  }
}

.description__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: @text_gray;
  text-align: left;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (max-width: @mobile-only-width) {
    & .desktop-br {
      display: none;
    }
  }
}
