.live-example {
  background-color: @gray;
  padding-bottom: 25px;
}

.live-example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 27px;
  margin-bottom: 33px;
}

.live-example__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  margin-bottom: 25px;
}

.live-example__list {
  display: flex;
  justify-content: space-between;
}

.live-example__item {
  border: 1px solid @border_gray;
}

.live-example__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.live-example__description {
  text-transform: lowercase;
}

.live-example__food-costs {
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
}

.live-example__cat-image {
  margin: 0 auto;
}

.live-example__toggles {
  display: flex;
  justify-content: space-between;
}

.slider__toggle {
  font-family: "Oswald", "Arial", sans-serif;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: inherit;
}
