@bacic_green: #rgba(104, 183, 56, 1);
@white: #rgb(255, 255, 255);

.preview {
  color: @white;
}

.preview__header {
  background: url("../../img/index-background-desktop.jpg") no-repeat;
}

.preview__description {
  color: #ffffff;
}
