.programs {
  margin-bottom: 27px;
}

.programs__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.program__item {
  background-color: @basic_gray;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.program__item__title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.program__item__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: @text_gray;
}

.program__item__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
  color: @basic_black;
}
