.catalog {
  @media (min-width: @decktop-width) {
    margin-top: 74px;
  }
}

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  padding: 27px 0 41px 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0 30px;
    border: none;
    margin-bottom: 164px;
    text-align: left;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 140px;
    margin-bottom: 68px;
  }

  @media (min-width: @decktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 144px;
    column-gap: 80px;
    margin-bottom: 76px;
  }
}

.product {
  position: relative;
  min-height: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  &:nth-child(2n) .product__image {
    left: 45px;

    @media (min-width: @tablet-width) {
      width: 168px;
      height: 206px;
      left: 25%;
      top: -70px;
    }

    @media (min-width: @decktop-width) {
      width: 172px;
      height: 196px;
      left: 20%;
    }
  }

  @media (min-width: @tablet-width) {
    background-color: @basic_gray;
    margin: 0 30px;
    padding: 0 36px;
    min-width: 324px;
    min-height: 430px;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (min-width: @decktop-width) {
    min-width: 245px;
    min-height: 431px;
    padding: 0 40px;
    margin: 0;
  }
}

.product__image {
  position: absolute;
  top: 40px;
  left: 55px;

  @media (min-width: @tablet-width) {
    top: -50px;
    left: 25%;
    width: 161px;
    height: 172px;
  }
}

.product__title {
  width: 50%;
  margin-top: 19px;
  margin-left: 50%;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @catalog-black;

  @media (max-width: @mobile-only-width) {
    & .tablet-br {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 60%;
    font-size: 20px;
    line-height: 24px;
    margin: 161px 0 21px 0;
    text-align: center;

    & .mobile-br {
      display: none;
    }
  }

  @media (min-width: @decktop-width) {
    line-height: 21px;
    width: 100%;
  }
}

.product__characteristic {
  width: 50%;
  margin: 0;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 33px;
  }
}

.characteristic__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @border_gray;
    padding: 7px 0 9px 0;
  }
}

.characteristic__description,
.characteristic__value {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
  }
}

.product__button,
.catalog__product-all__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  padding: 10px;

  @media (min-width: @tablet-width) {
    min-height: 39px;
  }
}

.catalog__product-all {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    background-color: inherit;
    border: 2px solid @basic_gray;
  }

  & p {
    margin: 0;
  }

  & img {
    margin-top: 25px;
    margin-bottom: 23px;

    @media (min-width: @tablet-width) {
      width: 60px;
      height: 60px;
      margin: 52px 0 49px 0;
    }
  }

  & .product__title {
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    color: @footer_black;

    @media (min-width: @tablet-width) {
      line-height: 22px;
      margin-bottom: 23px;
    }
  }

  & .catalog__product-all__text {
    font-size: 12px;
    line-height: 16px;
    font-family: "Arial", sans-serif;
    margin-bottom: 21px;
    text-align: center;

    @media (min-width: @tablet-width) {
      font-size: 16px;
      line-height: 18px;
      flex-grow: 2;
    }
  }
}

.catalog__product-all__button {
  color: @text_gray;
  background-color: @basic_gray;
}
