.catalog__title {

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  border-top: 1px solid @bottom_line_gray;

}

.catalog__list {
  list-style: none;
}

.catalog__product-all__button {
  color: @text_gray;
  background-color: @basic_gray;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
}
