.gift {
  position: relative;
  background-color: @basic_green;
  background-image: url("./../img/catalog/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  min-height: 289px;
  margin-bottom: 34px;

  @media (min-resolution: 2dppx) {
    background-image: url("./../img/catalog/gift-photo-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    width: 78px;
    height: 80px;
    top: 58px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("./../img/catalog/icon_gift.svg");

    @media (min-width: @tablet-width) {
      left: 80px;
      margin: 0;
    }

    @media (min-width: @decktop-width) {
      left: 0;
      margin: 0 auto;
    }
  }

  @media (min-width: @tablet-width) {
    min-height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 76px;
    background-image: url("./../img/catalog/gift-photo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/catalog/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: @decktop-width) {
    height: 290px;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
    background-image: url("./../img/catalog/gift-photo-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/catalog/gift-photo-desktop@2x.jpg");
    }
  }
}


.gift__title {
  color: @basic_white;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 186px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-right: 94px;
    text-align: left;
  }

  @media (min-width: @decktop-width) {
    text-align: center;
    padding: 0;
    padding-bottom: 42px;
  }
}
